// Fuentes
$fuente_principal: 'Open Sans', sans-serif; //Body
$fuente_secundaria: 'Raleway', sans-serif; //Heading, header, nav...

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1200px;

// Colores
$primario1: hsl(217, 28%, 15%); // (intro and email sign up background)
$primario2: hsl(218, 28%, 13%); // (main background)
$primario3:  hsl(216, 53%, 9%); //(footer background)
$primario4: hsl(219, 30%, 18%); //(testimonials background)
$secundario1: hsl(176, 68%, 64%);
$secundario2: hsl(198, 60%, 50%); 
$rojo: hsl(0, 100%, 63%);
$blanco: hsl(0, 0%, 100%);

$separacion: 5rem;